<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Error - Calepin</title>
        <link rel="stylesheet" href="/css/pico.min.css">
        <link rel="stylesheet" href="/css/custom.css">
    </head>
    <body>
        <div class="hero" data-theme="dark">
            <%- include("_nav") -%>
        </div>
        <main>
            Error <%= status %> <%= error %>
        </main>
        <%- include("_footer") -%>
        <%- include("_script") -%>
    </body>
</html>
