<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Recipes - Recipe book</title>
        <link rel="stylesheet" href="/css/pico.classless.min.css">
        <link rel="icon" href="/images/pan.svg">
    </head>
    <body>
        <%- include("_header") -%>
        <main>
            <% for (var id in api) { %>
                <article>
                    <h3><a href="/recipes/<%= api[id].name.toLowerCase().replace(/\s/g , "-") %>"><%= api[id].name %></a></h3>
                    <p><%= api[id].description %></p>
                    <img src="<%= api[id].image %>">
                </article>
            <% } %>
        </main>
        <%- include("_footer") -%>
    </body>
</html>
