<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Recipes - Calepin</title>
        <link rel="stylesheet" href="/css/pico.min.css">
        <link rel="stylesheet" href="/css/custom.css">
    </head>
    <body>
        <div class="hero" data-theme="dark">
            <%- include("_nav") -%>
        </div>
        <section class="showcase">
            <% for (var id in api) { %>
                <article>
                    <h3><a href="/recipes/<%= api[id].name.toLowerCase().replace(/\s/g , "-") %>"><%= api[id].name %></a></h3>
                    <p><%= api[id].description %></p>
                    <img src="<%= api[id].image %>">
                </article>
            <% } %>
        </section>
        <%- include("_footer") -%>
        <%- include("_script") -%>
    </body>
</html>
