<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title><%= name %> - Calepin</title>
        <link rel="stylesheet" href="/css/pico.css">
        <link rel="stylesheet" href="/css/custom.css">
    </head>
    <body>
        <div class="hero" data-theme="dark">
            <%- include("_nav") -%>
        </div>
        <main class="container">
            <h1><%= name %></h1>
            <p><%= description %></p>
            <img src="<%= image %>">
            <h3>Ingrédients</h3>
            <ul>
                <% for (var ingredient of ingredients) { %>
                    <li><%= ingredient %></li>
                <% } %>
            </ul>
            <h3>Préparation</h3>
            <ol>
                <% for (var direction of directions) { %>
                    <li><%= direction %></li>
                <% } %>
            </ol>
        </main>
        <%- include("_footer") -%>
        <%- include("_script") -%>
    </body>
</html>
